.contacto {
  padding: 2rem 10rem 1rem 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contacto .panel {
  width: 80%;
  border-radius: 2rem;
  border: 0.125rem solid var(--contacto-border);
  padding: 2rem 2rem 4rem 2rem;
  position: relative;
  margin-bottom: 1rem;
}

.contacto .panel .contact-panel form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacto .panel .btn {
  width: 50%;
  position: absolute;
  left: 25%;
  bottom: 1rem;
  border: 0.125rem solid var(--contacto-border);
  background: var(--bs-secondary-bg);
}

.contacto .panel .btn.disabled {
  border: 0.0625rem solid var(--contacto-border);
}

.contacto .title {
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 1199.98px) {
  .contacto .panel {
    width: 95%;
  }
}

@media (max-width: 991.98px) {
  .contacto {
    padding: 2rem 2rem 1rem 2rem;
  }
}

@media (max-width: 767.98px) {
  .contacto {
    padding: 1rem 1rem 1rem 1rem;
  }
}