[data-bs-theme="dark"] {
  .timeline:after {
    border-right: 0.125rem dashed var(--timeline-dark);
  }

  .timeline-row .timeline-content:before {
    background: var(--timeline-dark);
    border: 0.125rem dashed var(--timeline-point-dark);
  }

  .timeline-row .timeline-time {
    color: var(--timeline-date-dark)
  }

  .timeline-row .timeline-content {
    background: var(--timeline-card-bg-dark);
  }

  .timeline-row .timeline-content:after {
    background: var(--timeline-card-bg-dark);
  }

  .timeline-row .timeline-content .badge {
    color: var(--timeline-badge-text-dark);
    background: Var(--timeline-badge-bg-dark);
  }

  .timeline-title {
    color: var(--timeline-title-dark);
  }

  .timeline-subtitle {
    color: var(--timeline-subtitle-dark);
  }
}

[data-bs-theme="light"] {
  .timeline:after {
    border-right: 0.125rem dashed var(--timeline-light);
  }

  .timeline-row .timeline-content:before {
    background: var(--timeline-light);
    border: 0.125rem dashed var(--timeline-point-light);
  }

  .timeline-row .timeline-time {
    color: var(--timeline-date-light)
  }

  .timeline-row .timeline-content {
    background: var(--timeline-card-bg-light);
  }

  .timeline-row .timeline-content:after {
    background: var(--timeline-card-bg-light);
  }

  .timeline-row .timeline-content .badge {
    color: var(--timeline-badge-text-light);
    background: Var(--timeline-badge-bg-light);
  }

  .timeline-title {
    color: var(--timeline-title-light);
  }

  .timeline-subtitle {
    color: var(--timeline-subtitle-light);
  }
}

.timeline {
  position: relative;
  padding: 2rem 10rem;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 0.125rem / 2);
  margin-left: -0.125rem;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 1rem;
}

.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 0.5rem;
  text-align: right;
  margin: 0 1rem;
  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: 0.8rem;
}

.timeline-row .timeline-content {
  position: relative;
  padding: 1.25rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.timeline-content .img-fluid {
  max-height: 15rem;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 1.25rem;
  height: 1rem;
  width: 1rem;
}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 1.25rem;
  right: -3rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 6.25rem;
}

.timeline-title {
  margin: 0 0 1.25rem 0;
  overflow: hidden;
  white-space: nowrap;
  line-height: 150%;
  text-decoration: underline double;
}

.timeline-row:nth-child(even) .timeline-content {
  margin-left: 2.5rem;
}

.timeline-row:nth-child(even) .timeline-content:after {
  left: -0.5rem;
  right: initial;
  border-bottom: 0;
  border-left: 0;
  transform: rotate(-135deg);
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -3.25rem;
  right: initial;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  margin-right: 0;
  margin-left: 1.25rem;
}

.timeline-row:nth-child(odd) .timeline-content {
  margin-right: 2.5rem;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -0.5rem;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

.timeline-row:nth-child(odd) .timeline-content:hover {
  box-shadow: -0.3125rem 0.3125rem 0.3125rem 0.3125rem #918991;
  transform: scale(1.02) translate(-1%);
}

.timeline-row:nth-child(even) .timeline-content:hover {
  box-shadow: 0.3125rem 0.3125rem 0.3125rem 0.3125rem #918991;
  transform: scale(1.02) translate(1.25%);
}

@media (max-width: 991.98px) {
  .timeline {
    padding: 2rem 4rem;
  }
}

@media (max-width: 767.98px) {
  .timeline {
    padding: 2rem 2rem;
  }

  .timeline:after {
    border: 0;
    visibility: hidden;
  }

  .timeline .timeline-row:nth-child(odd) {
    padding: 0;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 0.625rem 0;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin: 0;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-content:before {
    display: none;
  }

  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    display: none;
  }

  .timeline .timeline-row:nth-child(even) {
    padding: 0;
  }

  .timeline .timeline-row:nth-child(even) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 0.625rem 0;
  }

  .timeline .timeline-row:nth-child(even) .timeline-content {
    margin: 0;
  }

  .timeline .timeline-row:nth-child(even) .timeline-content:before {
    display: none;
  }

  .timeline .timeline-row:nth-child(even) .timeline-content:after {
    display: none;
  }

  .timeline .timeline-row .timeline-time {
    text-align: center;
  }

  .timeline-time {
    text-shadow: 0.125rem 0.25rem 0.25rem teal;
  }

  .timeline .timeline-row:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 100%;
    border: 0.0625rem dashed var(--timeline-point-dark);
  }

  .timeline-row:nth-child(even) .timeline-content:hover,
  .timeline-row:nth-child(odd) .timeline-content:hover {
    box-shadow: 0 0.3125rem 0.3125rem 0.3125rem #918991;
    transform: scale(1.02) translate(1.25%);
  }
}

@media (min-width: 768px) {
  .zoom {
    cursor: zoom-in;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-body > button {
    margin-bottom: 1rem;
  }
  
  .modal-dialog {
    max-width: 90%;
  }
  
  .image-preview {
    max-width: 80vw;
    max-height: 80vh;
  } 
}