.experiences {
  padding: 2rem 10rem;
}

.experiences-timeline {
  position: relative;
}

.experiences-timeline:before {
  content: "";
  display: block;
  width: .125rem;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
}

.experiences-timeline .experience {
  margin-bottom: 2.5rem;
  position: relative;
}

.experiences-timeline .experience:after {
  content: "";
  display: block;
  clear: both;
}

.experiences-timeline .icon {
  width: 1.125rem;
  height: 1.125rem;
  line-height: 1.125rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.experiences-timeline .icon:before,
.experiences-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s;
}

/* .experiences-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px;
} */

/* .experiences-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px;
} */

/* .experiences-timeline .experience:hover .icon:before {
  left: 3px;
} */

/* .experiences-timeline .experience:hover .icon:after {
  left: -3px;
} */

/* .experiences-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative;
} */

/* .experiences-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
} */

/* .experiences-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1;
} */

/* .experiences-timeline .date-outer:before,
.experiences-timeline .date-outer:after {
  content: "";
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s;
} */

/* .experiences-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px;
} */

/* .experiences-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px;
} */

/* .experiences-timeline .experience:hover .date-outer:before {
  left: 6px;
} */

/* .experiences-timeline .experience:hover .date-outer:after {
  left: -6px;
} */

/* .experiences-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 0;
} */

/* .experiences-timeline .start {
  font-size: 18px;
  font-weight: 700;
} */

/* .experiences-timeline .end {
  display: block;
  font-size: 27px;
  font-weight: 700;
  color: var(--bs-body-color);
  line-height: 36px;
} */

/* .experiences-timeline .experience-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right;
} */

/* .experiences-timeline .title {
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;
} */

/* .experiences-timeline .description {
  margin-bottom: 0;
} */

/* .experiences-timeline .experience:nth-child(2n) .date-content {
  float: right;
} */

/* .experiences-timeline .experience:nth-child(2n) .date-content:before {
  left: 10px;
} */

/* .experiences-timeline .experience:nth-child(2n) .experience-content {
  padding: 20px 50px 20px 0;
  text-align: left;
} */

/* @media only screen and (max-width: 991px) {
  .experiences-timeline .date-content {
    margin-top: 35px;
  }

  .experiences-timeline .date-content:before {
    width: 22.5%;
  }

  .experiences-timeline .experience-content {
    padding: 10px 0 10px 30px;
  }

  .experiences-timeline .experience:nth-child(2n) .experience-content {
    padding: 10px 30px 10px 0;
  }
} */

/* @media only screen and (max-width: 767px) {
  .experiences-timeline:before {
    margin: 0;
    left: 7px;
  }

  .experiences-timeline .experience {
    margin-bottom: 20px;
  }

  .experiences-timeline .experience:last-child {
    margin-bottom: 0;
  }

  .experiences-timeline .icon {
    margin: auto 0;
  }

  .experiences-timeline .date-content {
    width: 95%;
    float: right;
    margin-top: 0;
  }

  .experiences-timeline .date-content:before {
    display: none;
  }

  .experiences-timeline .date-outer {
    width: 110px;
    height: 110px;
  }

  .experiences-timeline .date-outer:before,
  .experiences-timeline .date-outer:after {
    width: 120px;
    height: 120px;
  }

  .experiences-timeline .date {
    top: 30%;
  }

  .experiences-timeline .end {
    font-size: 24px;
  }

  .experiences-timeline .experience-content,
  .experiences-timeline .experience:nth-child(2n) .experience-content {
    width: 95%;
    text-align: center;
    padding: 10px 0;
  }

  .experiences-timeline .title {
    margin-bottom: 10px;
  }
} */